<!DOCTYPE html>
<html>
<head>
  <title style="font-family:verdana">Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>

body {
    background-image: url("http://www.pageresource.com/wallpapers/wallpaper/abstract-white-background-widescreen.jpg");
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: white;
    background-size: 100%;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    font-family: "Arial", Times, serif;
    }
    #comments {
    background-color: white;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}
h2 {
    background-color: grey;
    padding-left: 30px;
    }
</style>
<body>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %></p>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
